body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.gif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 15px;
  outline: none;
  border: 2px solid transparent;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: white;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  font-size: large;
  margin-top: 30px;
}

button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
