@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Secular One', sans-serif;
}

.container {
    background-color: rgb(25, 0, 255);
    width: 560px;
    height: 300px;
    margin: 150px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 9px;
    box-shadow: 4px 4px 2px black ;
}

.container .header  {
    font-size: 20px;
    margin: 18px 0;
    text-shadow: 4px 4px black;
    color: white;
}

.container .input-section input {
    padding: 2px 5px;
    outline: none;
    border: 2px solid black;
    border-radius: 9px;
    font-family: 'Secular One', sans-serif;
}

.container .input-section button {
    padding: 2px 8px;
    outline: none;
    border: 2px solid black;
    border-radius: 9px;
    font-family: 'Secular One', sans-serif;
}