@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');
/* font-family: 'Signika Negative', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
/* font-family: 'Titillium Web', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
/* font-family: 'Roboto Mono', monospace; */

* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* navbar */

.nav ul {
    margin: 40px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    height: 60px;
    border-right: none;
    border-left: none;
}

.nav ul li {
    display: inline;
    list-style-type: none;
}

.nav ul li a {
    cursor: pointer;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    color: white;
    transition: 0.2s ease;
    font-family: 'Signika Negative', sans-serif;
}

.nav ul li a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}

/* logo */

.logo {
    display: flex;
    justify-content: center;
    height: 80px;
    position: relative;
    top: 17px;
    cursor: pointer;
}


/* header */

.header {
    height: 200px;
    margin: 0 70px;
    position: relative;
    top: 15px;
    color: white;
    font-family: 'Signika Negative', sans-serif;
}

.header h1 {
    font-size: 60px;
    margin: 20px 0;
    font-family: 'Ubuntu', sans-serif;
}

.header button {
    margin: 40px 0;
    padding: 10px;
    background-color: rgb(255, 38, 0);
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.2s ease;
    cursor: pointer;
    font-family: 'Signika Negative', sans-serif;
}

.header button:hover {
    background-color: rgb(40, 40, 40);
}

/* about page */

.about {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about .text {
    margin: 0 100px;
    position: relative;
    top: 200px;
    font-family: 'Signika Negative', sans-serif;
}

.about .text h1 {
    font-size: 50px;
    margin: 20px 0;
    /* font-family: 'Ubuntu', sans-serif; */
}

.about .btn {
    position: relative;
    top: 10px;
}

.about .btn button {
    width: 100%;
    margin: 40px 0;
    padding: 10px;
    background-color: rgb(255, 38, 0);
    color: white;
    border: none;
    outline: none;
    font-family: 'Signika Negative', sans-serif;
    font-size: 15px;
    transition: 0.2s ease;
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
}

.about .btn button:hover {
    background-color: rgb(40, 40, 40);
}

.about .image {
    margin: 0 100px;
    position: relative;
    bottom: 50px;
    left: 600px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}

.about .image img {
    height: 350px;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
}

/* form css */

.form {
    height: 90vh;
    position: relative;
    top: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(pizzabg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Signika Negative', sans-serif;
}

.form .f-header {
    position: relative;
    top: 200px;
    margin: 0 100px;
    width: 500px;
    color: white;
}

.form .f-header h1 {
    font-size: 40px;
    margin: 20px 0;
}

.form .f-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    position: relative;
    bottom: 170px;
    background-color: white;
    float: right;
    margin: 0 100px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.form .f-form input {
    margin: 4px;
    padding: 5px 17px;
    width: 300px;
    height: 40px;
    border: 0.5px solid rgb(231, 231, 231);
    font-family: 'Signika Negative', sans-serif;
}

.form .f-form button {
    position: relative;
    top: 10px;
    width: 170px;
    height: 40px;
    margin: 9px 5px;
    outline: none;
    border: none;
    background-color: rgb(255, 38, 0);
    color: white;
    font-family: 'Signika Negative', sans-serif;
    transition: 0.2s ease;
    cursor: pointer;
}


.form .f-form button:hover {
    background-color: rgb(40, 40, 40);
}

/* blogs css */

.blogs {
    height: 100vh;
    /* border: 2px solid black; */
    position: relative;
    top: 120px;
}

.blogs .b-header {
    text-align: center;
    /* border: 2px solid black; */
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Signika Negative', sans-serif;
    color: grey;
}

.blogs .b-header h1 {
    font-size: 40px;
    color: black;
}

.blogs .main-blog {
    /* border: 2px solid black; */
    height: 300px;
    display: flex;
    position: relative;
    top: 40px;
    align-items: center;
    justify-content: center;
    font-family: 'Signika Negative', sans-serif;

}

.blogs .main-blog .box img {
    margin: 0 13px;
    flex-wrap: wrap;
}

.blogs .main-blog .box .box-time {
    background-color: black;
    width: 100px;
    height: 18px;
    padding: 5px;
    text-align: center;
    position: relative;
    left: 13px;
    margin: 8px 0;
    color: white;
}

.blogs .main-blog .box .box-text {
    position: relative;
    left: 13px;
    cursor: pointer;
    transition: 0.2s ease;
}

.blogs .main-blog .box .box-text:hover {
    color: rgb(255, 38, 0);
}

.blogs .main-blog .box a {
    text-decoration: none;
    position: relative;
    left: 13px;
    top: 20px;
    color: white;
    background-color: rgb(255, 38, 0);
    padding: 5px 10px;
    transition: 0.2s ease;
}

.blogs .main-blog .box a:hover {
    background-color: rgb(40, 40, 40);

}

/* top bottom */

.top-bottom {
    height: 400px;
    position: relative;
    top: 150px;
    background-color: rgb(255, 38, 0);
    display: flex;
    flex-direction: row;
    font-family: 'Signika Negative', sans-serif;

}

.top-bottom .tb-text {
    color: white;
    position: relative;
    left: 100px;
    top: 60px;
}

.top-bottom .tb-text p {
    margin: 20px 0;
}

.top-bottom .tb-text hr {
    width: 290px;
    text-align: center;
    color: white;
}

.top-bottom .tb-contact {
    position: relative;
    color: white;
    left: 200px;
    top: 60px;
}

.top-bottom .tb-contact p{
    margin: 20px 0;
}

.top-bottom .tb-newsletter{
    position: relative;
    left: 290px;
    top: 23px;
    color: white;
}


.top-bottom .tb-newsletter h2{
    margin: 30px 0;
}

.top-bottom .tb-newsletter input{
    margin: 30px 0;
    padding: 5px 17px;
    width: 300px;
    height: 30px;
    border-radius: 100px;
    border: none;
    outline: none;
    font-family: 'Signika Negative', sans-serif;

}


/* footter */

.footter {
    height: 31vh;
    background-color: rgb(40, 40, 40);
    font-family: 'Signika Negative', sans-serif;
}

.footter .footter-text {
    color: white;
    text-align: center;
    position: relative;
    top: 172px;
    text-decoration: underline;
}